<ng-template #standardTpl> Saving the new product... </ng-template>
<ng-template #dangerTpl>
  <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"
    />
  </svg>
  Oops, something went wrong !
</ng-template>
<app-toasts></app-toasts>
<div class="container mt-3 d-flex justify-content-center">
  <div class="card col-8">
    <div class="card-header">
      <h3>Add new product</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="saveProduct(productForm.value)">
        <div class="mb-6">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="mb-6 mt-2">
          <label class="form-label">Price</label>
          <input type="number" class="form-control" formControlName="price">
        </div>
        <div class="mb-6 mt-2">
          <label class="form-label">Quantity</label>
          <input type="number" class="form-control" formControlName="quantity">
        </div>
        <div class="col-12 d-flex flex-row mb-3 ps-4 pe-4">
          <div class="mb-6 mt-2 form-check col-6 form-switch">
            <label class="form-check-label">Available</label>
            <input type="checkbox" class="form-check-input" formControlName="available">
          </div>
          <div class="mb-6 mt-2 form-check col-6 form-switch">
            <label class="form-check-label">Selected</label>
            <input type="checkbox" class="form-check-input" formControlName="selected">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button [disabled]="productForm.invalid" type="submit" class="btn btn-success" >
            Save
            <i class="bi bi-floppy-fill"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #myModalContent>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Product Saved</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <p>The new product was successfully saved.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()" >Dismiss</button>
  </div>
</ng-template>
