<div class="modal fade" tabindex="-1"  [ngClass]="{ 'show': show }" id="editModal" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Saved</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <p>The product information was successfully updated.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/products">Dismiss</button>
      </div>
    </div>
  </div>
</div>
